.login-category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card{
    height: fit-content;
    width: 50%;

}

.main-container{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.submitbtn{
    // margin: 10px;
    margin: auto;
    width: 100%;
}

.text-center{
    text-align: center;
}

.resident-card,.council-card{
    width: auto;
   
}

.res-div,.coun-div{
    margin: 10px;
}

mat-expansion-panel-header{
    flex-direction: column;
    mat-panel-title{
        margin: auto 0;
    }
    
}
mat-form-field{
    width: 100%;
}

.register-wrapper{
    padding: 10px 0;
}

.scanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}